include components/title
include components/content

section#about.about
    span#about__rotating.about__rotating.rotating
    +title("about", $about->title, "")
    div.about__content-wrapper
        +content("about", $about->content, "")
    div.about__image-wrapper.about__image-under-wrapper
        div.about__image.about__image-under
            span.about__image-bg.about__image-under-bg.vertical-bg(
                style="background-image: url('" . $about->image->under . "');"
            )
            +title("about", $about->title, "under")
            +content("about", $about->content, "under")
            span#about__image-under-overlay.about__image-under-overlay
    div.about__image-wrapper.about__image-over-wrapper
        div.about__image.about__image-over
            span.about__image-bg.about__image-over-bg.horizontal-bg(
                style="background-image: url('" . $about->image->over . "');"
            )
            span#about__image-over-overlay.about__image-over-overlay