include components/title
include components/button

mixin card($index, $title, $content, $img, $buttonURL)
    - $classes = ["card", "card-" . ($index % 2 ? "left" : "right")];
    article(
        class=$classes
        id="card-" . $index
    )
        div.card__image-wrapper.card__image-wrapper
            span.card__image-bg.vertical-bg(style="background-image: url(" . $img . ");")
            span.card__image-overlay
        div.card__text
            +title("card", $title, $index)
            +content("card", $content, $index)
            +button("card", $cards->button, $buttonURL)


section#cards.cards
    div.cards__title-wrapper
        - $classes = ["title", "cards__title", "horizontal-text"];
        h3(
            id="cards__title" 
            class=$classes
        )
            span.line=$cards->title
    div.cards__container
        - $index = 0;
        while ($index < count($cards->cards))
            +card(
                $index + 1,
                $cards->cards[$index]->title,
                $cards->cards[$index]->content,
                $cards->cards[$index]->image,
                $cards->cards[$index]->link
            )
            - $index++