include components/title

section#final.final
    - let finalTitleContent = ["Nu mai aștepta ocazia perfectă sau un moment anume"]
    +title("final", finalTitleContent, "left")
    - finalTitleContent = ["Comandă acum cadoul ideal și original"]
    +title("final", finalTitleContent, "right")
    - finalTitleContent = ["Sigur îți vrei surprinde persoanele dragi"]
    +title("final", finalTitleContent, "left")