include components/title
include components/content

section#heading.heading
    div.heading__image
        span#heading__image-bg.heading__image-bg(
            style="background-image: url('" . $heading->image . "');"
        )
        span#heading__image-overlay.heading__image-overlay
        +title("heading", $heading->title, "over")
    +title("heading", $heading->title, "under")
    div.heading__content-wrapper
        +content("heading", $heading->content, "")