include components/title
include components/content

- $introContentHeading = ["Aici venim să vă", "prezentăm noul", "concept SPA GIFT"]
- $introContentHeadingMobile = ["Aici venim", "să vă", "prezentăm", "noul", "concept", "SPA GIFT"];
section#intro.intro
    div.intro__image-wrapper
        div.intro__image
            div.intro__image-container
                span.intro__image-bg.vertical-bg
                +title("intro", $introContentHeading, "under")
                +title("intro", $introContentHeadingMobile, "under-mobile")
            span#intro__image-overlay.intro__image-overlay
                span.intro__image-overlay-deg
    +title("intro", $introContentHeading, "over")
    +title("intro", $introContentHeadingMobile, "over-mobile")
    +content(
        "intro",
        "Decide să oferi celor dragi cadouri originale - 
        Cumpăra-le un voucher cadou la SPA și fii sigur că 
        nu-l vor uita niciodată.",
        ""
    )