include components/title
include components/content

section#intro.intro
    div.intro__image-wrapper
        div.intro__image
            div.intro__image-container
                span.intro__image-bg.vertical-bg(
                    style="background-image: url('" . $intro->image . "');"
                )
                +title("intro", $intro->title->desktop, "under")
                +title("intro", $intro->title->mobile, "under-mobile")
            span#intro__image-overlay.intro__image-overlay
                span.intro__image-overlay-deg
    +title("intro", $intro->title->desktop, "over")
    +title("intro", $intro->title->mobile, "over-mobile")
    +content("intro", $intro->content, "")