include components/title
include components/content
include components/button

mixin option($optionList, $buttonURL, $index)
    div.option(
        id="option-" . $index
        style="--option: " . ($index - 1)
    )
        div.option__text
            ul.option__list
                - $i = 0
                while $i < count($optionList)
                    li.option__list-item(style="--index: " . $i)
                        +content("option", $optionList[$i], $i)
                        - $i++
            +button("option", "Comandă acum", $buttonURL)


section#options.options
    - $optionTitleContent = ["Faceți", "alegerea", "potrivită"]
    +title("option", $optionTitleContent, "main")
    - $optionListContent = ["Vei primi un cod", "Se trimite instant pe mail", "Cuprinde toate informațiile necesare", "Cost scăzut", "Nu necesită transport"] 
    +option($optionListContent, "#", 1)
    - $optionListContent = ["Include beneficiile cadoului virtual", "Cutie de cadou", "Voucher fizic", "Mesaj unic", "Transport inclus până la client"]
    +option($optionListContent, "#", 2)