include components/title
include components/content
include components/button

mixin option(optionList, buttonURL, index)
    div.option(id=`option-${index}`)
        div.option__text
            ul.option__list
                each value, index in optionList
                    li.option__list-item(style=`--index: ${index}`)
                        +content("option", value, index)
            +button("option", "Comandă acum", buttonURL)


section#options.options.start
    - let optionTitleContent = ["Faceți", "alegerea", "potrivită"]
    +title("option", optionTitleContent, "main")
    - let optionListContent = ["Vei primi un cod", "Se trimite instant pe mail", "Cuprinde toate informațiile necesare", "Cost scăzut", "Nu necesită transport"] 
    +option(optionListContent, "#", 1)
    - optionListContent = ["Include beneficiile cadoului virtual", "Cutie de cadou", "Voucher fizic", "Mesaj unic", "Transport inclus până la client"]
    +option(optionListContent, "#", 2)
