include components/title
include components/content
include components/button

- $index = 0;
mixin option($title, $optionList, $buttonURL)
    - $index = $index + 1;
    div.option(
        id="option-" . $index
        style="--option: " . ($index - 1) . "; --title: '" . $title . "';"
    )
        div.option__text
            ul.option__list
                - $i = 0
                while $i < count($optionList)
                    li.option__list-item(style="--index: " . $i)
                        +content("option", $optionList[$i], $i)
                        - $i++
            +button("option", $options->button, $buttonURL)


section#options.options
    +title("option", $options->title, "main")
    +option(
        $options->content[0]->title, 
        $options->content[0]->list, 
        $options->content[0]->link
    )
    +option(
        $options->content[1]->title, 
        $options->content[1]->list, 
        $options->content[1]->link
    )