doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap")
        link(rel="stylesheet", href="/frontend/dist/style.css")
        - if ($editable && $assets["css"])
            style=$assets["css"]
    body(
        class!=$editable ? "editable" : ""
    )
        main
            if ($noloading)
                include includes/loading
            include includes/heading
            include includes/about
            include includes/intro
            include includes/cards
            include includes/items
            include includes/options
            include includes/final
            - if ($editable)
                div#json(style="display: none")!=$json
        script(src="/frontend/dist/script.js")
        - if ($editable && $assets["js"])
            script!=$assets["js"]