mixin title(section, content, special)
    - let id = section + "__title";
    - if (special !== "") id += "-" + special;
    - let classes = ["title", section + "__title", "vertical-text"];
    - if (special !== "") classes.push(section + "__title-" + special);
    h3(
        id=id
        class=classes
        data-splitting="words"
    ) 
        each line in content
            span.line=line

