mixin title($section, $content, $special)
    - $id = $section . "__title" . ($special !== "" ? "-" . $special : "");
    - $classes = ["title", $section . "__title", "vertical-text", ($special !== "") ? $section . "__title-" . $special : ""];
    h3(
        id=$id
        class=$classes
        data-splitting="words"
    )
        - $i = 0;
        while $i < count($content)
            span.line=$content[$i]
            - $i++