mixin button($section, $content, $link, $editable)
    - $classes = ["button", $section . "__button", "vertical-text"]
    div(
        class=$classes
        data-editable=$editable
    )
        div
            a(href=$link)=$content
        div
            a(href=$link)=$content