mixin button($section, $content, $link, $editable)
    - $classes = ["button", $section . "__button", "vertical-text"]
    div(
        class=$classes
    )
        div(
            data-editable=$editable
        )
            a(href=$link)=$content
        div(
            data-editable=$editable
            
        )
            a(href=$link)=$content