doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap")
        link(rel="stylesheet", href="/dist/style.css")
    body
        main
            //- include includes/loading
            include includes/heading
            include includes/about
            include includes/intro
            include includes/cards
            include includes/items
        script(src="/dist/script.js")