include components/title
include components/button

mixin card($index, $title, $content, $img, $buttonURL, $editable)
    - $classes = ["card", "card-" . ($index % 2 ? "left" : "right")];
    article(
        class=$classes
        id="card-" . $index
        data-editable=$editable
    )
        div.card__image-wrapper.card__image-wrapper(
                data-editable=($editable ? $editable . "imagine" : null)
        )
            span.card__image-bg.vertical-bg(
                style="background-image: url(" . $img . ");"
            )
            span.card__image-overlay
        div.card__text
            +title("card", $title, $index, ($editable ? $editable . "title" : null))
            +content("card", $content, $index, ($editable ? $editable . "content" : null))
            +button("card", $cards->button, $buttonURL, ($editable ? $editable . "link" : null))


section#cards.cards
    div.cards__title-wrapper
        - $classes = ["title", "cards__title", "horizontal-text"];
        h3(
            id="cards__title" 
            class=$classes
            data-editable=$editable ? "cards.title" : null
        )
            span.line=$cards->title
    div.cards__container
        - $index = 0;
        while ($index < count($cards->cards))
            +card(
                $index + 1,
                $cards->cards[$index]->title,
                $cards->cards[$index]->content,
                $cards->cards[$index]->image,
                $cards->cards[$index]->link,
                ($editable ? "cards.cards.[" . $index . "]." : null)
            )
            - $index++