include components/title
include components/add

section#final.final
    div.final__container
        - $index = 0;
        while ($index < count($final->title))
            div.final__title-wrapper(style="--index: ". ($index + 1))
                +title("final", $final->title[$index], ($index % 2 ? "right" : "left"), ($editable ? "final.title[" . $index . "]" : null))
            - $index++;
        - if ($editable)
            +add("final");
            