include components/title

section#final.final
    div.final__container
        div.final__title-wrapper(style="--index: 1")
            +title("final", $final->title->one, "left")
        div.final__title-wrapper(style="--index: 2")
            +title("final", $final->title->two, "right")
        div.final__title-wrapper(style="--index: 3")
            +title("final", $final->title->three, "left")