include components/title
include components/content

section#intro.intro
    div.intro__image-wrapper
        div.intro__image
            div.intro__image-container
                span.intro__image-bg.vertical-bg(
                    style="background-image: url('" . $intro->image . "');"
                    data-editable=$editable ? "intro.image" : null
                )
                +title("intro", $intro->title->desktop, "under", $editable ? "intro.title" : null)
                +title("intro", $intro->title->mobile, "under-mobile", $editable ? "intro.title" : null)
            span#intro__image-overlay.intro__image-overlay
                span.intro__image-overlay-deg
    +title("intro", $intro->title->desktop, "over", $editable ? "intro.title" : null)
    +title("intro", $intro->title->mobile, "over-mobile", $editable ? "intro.title" : null)
    +content("intro", $intro->content, "", $editable ? "intro.content" : null)