@keyframes fancy-word-content {
  0% {
    opacity: 0;
    transform: matrix3d(0.819152,
        0,
        0.573576,
        0,
        -0.32899,
        0.819152,
        0.469846,
        0,
        -0.469846,
        -0.573576,
        0.67101,
        0,
        0,
        40,
        -150,
        1);
  }

  100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}