.horizontal-text {
  transform: translate3d(
    calc((var(--scrolled) - var(--height)) * 4 * -1px), 
    0, 
    0);
}

.rotating {
  transform: rotate(calc((var(--scrolled) - var(--height)) / 2.5 * -1deg));
}

@media only screen and (min-width: 1200px) {
  .vertical-text {
    transform: translate3d(
      0,
      calc((var(--scrolled) - var(--height)) / 5 * -1px),
      0
    );
  }

  .vertical-bg {
    transform: translate3d(
      0,
      calc((var(--scrolled) - var(--height)) / 10 * -1px),
      0
    );
  }

  .horizontal-bg {
    transform: translate3d(
      calc((var(--scrolled) - var(--height)) / 20 * -1px),
      0,
      0
    );
  }
}
